:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p, Link{
  color: var(--foreground);
}

/* Aseguramos que el body ocupe toda la altura de la pantalla */
.layout-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que el body tenga al menos la altura de la pantalla */
}

/* El contenedor principal debe ocupar el espacio disponible */
.main-content {
  flex-grow: 1; /* Este contenedor ocupa el espacio restante */
}
